# This file contains common pin mappings for the BIGTREETECH SKR
# MINI. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader".

# The "make flash" command does not work on the SKR mini. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini with that SD card.

# See the example.cfg file for a description of available parameters.

[include macros.cfg]
[include mainsail.cfg]
[include lcd_tweaks.cfg]
[include pi_mcu.cfg]

[mcu]
serial: /dev/ttyAMA0
restart_method: command

#[temperature_sensor Pi]
#sensor_type: rpi_temperature
#min_temp: 0
#max_temp: 90

[display]
lcd_type: ssd1306
display_group: __voron_display

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
rotation_distance: 40
microsteps: 16
endstop_pin: PC0 
position_endstop: 120
position_max: 120
homing_speed: 20   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PB15
interpolate: True
run_current: .25
hold_current: .25
sense_resistor: 0.110
stealthchop_threshold: 500

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
rotation_distance: 40
microsteps: 16
endstop_pin: PC1
position_endstop: 120
position_max: 120
homing_speed: 20   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC6
interpolate: True
run_current: .25
hold_current: .25
sense_resistor: 0.110
stealthchop_threshold: 500

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
rotation_distance: 8 #for T8x8 lead screw
microsteps: 16
endstop_pin: PC2
#position_endstop: -.10
position_max: 120
position_min: -1
homing_speed: 10   #Max 100
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: PC10
interpolate: True
run_current: .2
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 500


[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
#step_distance: 0.001799105625
rotation_distance: 5.757138
#rotation_distance: 22.67895 miniab
#gear_ratio: 50:10 #for standard 10t motor
microsteps: 16 
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 270
min_extrude_temp: 10
max_extrude_only_distance: 780.0
max_extrude_cross_section: .8
Pressure_advance: 0.15
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: PC11
interpolate: True
run_current: 0.5
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 500

[heater_bed]
heater_pin: PC12
sensor_type: NTC 100K beta 3950
#sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC3
smooth_time: 3.0
max_power: .6
#control: pid
min_temp: 0
max_temp: 120
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[printer]
kinematics: corexy
max_velocity: 250
max_accel: 2000
max_z_velocity: 10
max_z_accel: 30
square_corner_velocity: 5.0

[heater_fan hotend_fan]
# Hotend Fan
pin: PA8
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
# Print Cooling Fan - XYE board, Fan Pin
pin: PC9
kick_start_time: 0.5
#depending on your fan, you may need to increase or reduce this value
#if your fan will not start
off_below: 0.13
cycle_time: 0.001

[idle_timeout]
timeout: 1800


#[homing_override]
#axes: z
#set_position_z: 0
#gcode:
#   G90
#   G0 Z5 F600
#   G28 X Y
#   G0 X20 Y0 F3600 
#   
#   G28 Z
#   G0 Z10 F1800
#   G0 X60 Y60 Z20 F3600

[safe_z_home]
home_xy_position: 120,0
speed: 50.0
z_hop: 5

   # Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

# Sensor Types
#   "EPCOS 100K B57560G104F"
#   "ATC Semitec 104GT-2"
#   "NTC 100K beta 3950"
#   "Honeywell 100K 135-104LAG-J01"
#   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
#   "AD595"
#   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.544
#*# pid_ki = 2.143
#*# pid_kd = 182.396
#*#
#*# [stepper_z]
#*# position_endstop = -0.770
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.313
#*# pid_ki = 0.790
#*# pid_kd = 118.054
